@font-face {
	font-family: "Algo";
	src: url("../fonts/Algo_FY_Regular.ttf");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Arek";
	src: url("../fonts/Arek_Italic.otf?796vn8") format("truetype");
	font-weight: normal;
	font-style: normal;
}