<html>
	<head>
		<title>Character sheet creator - Zombicide Black Plague - Board Game Tools</title>
		<link rel="stylesheet" href="zbp-charsheet/static/css/main.css"/>
		<script type="text/javascript" src="zbp-charsheet/static/js/jquery.js"></script>
		<script type="text/javascript" src="zbp-charsheet/static/js/jquery-ui.js"></script>
		<script type="text/javascript" src="zbp-charsheet/static/js/skills.js"></script>
		<script type="text/javascript" src="zbp-charsheet/static/js/sheet.js"></script>
	</head>
	<body>
		<header>
			<h1>Character sheet creator for Zombicide Black Plague</h1>
			<nav>

			</nav>
		</header>
		<div class="character-sheet">
			<div class="sheet-background"></div>
			<div class="sheet-name-background"></div>
			<div class="sheet-skills"></div>

			<div class="sheet-name-text">
				<input type="text" value="Salias" id="character-name" />
			</div>
			<div class="sheet-skills-texts">
				<div class="sheet-skill-blue">
					<input type="text" class="skill-field" id="sheet-skill-blue" value="" />
				</div>
				<div class="sheet-skill-yellow">
					<input type="text" class="skill-field" id="sheet-skill-yellow" value="+1 Action" />
				</div>
				<div class="sheet-skill-orange1">
					<input type="text" class="skill-field" id="sheet-skill-orange1" value="" />
				</div>
				<div class="sheet-skill-orange2">
					<input type="text" class="skill-field" id="sheet-skill-orange2" value="" />
				</div>
				<div class="sheet-skill-red1">
					<input type="text" class="skill-field" id="sheet-skill-red1" value="" />
				</div>
				<div class="sheet-skill-red2">
					<input type="text" class="skill-field" id="sheet-skill-red2" value="" />
				</div>
				<div class="sheet-skill-red3">
					<input type="text" class="skill-field" id="sheet-skill-red3" value="" />
				</div>
			</div>
		</div>
		<div>
			<button class="export-btn">Export</button>
			<a href="#" id="clovis-btn">Clovis</a>
		</div>
		<footer>

		</footer>
	</body>
</html>