@import "assets/clear";
@import "assets/utils";
@import "assets/fonts";

@sheetWidth: 700px;
@sheetHeight: 809px;

.sheet-size {
	width: @sheetWidth;
	height: @sheetHeight;
}

.sheet-image (@image) {
	.sheet-size();
	position: absolute;
	top: 0;
	left: 0;
	background: url('../images/@{image}.png') no-repeat 0 0;
}

.character-sheet {
	position: relative;
	.sheet-size();
}

.sheet-background {
	.sheet-image('bg-sheet');
}

.sheet-name-background {
	.sheet-image('bg-name-middle');
}

.sheet-skills {
	.sheet-image('bg-skills');
}

/* NAME */
.sheet-name-text {
	position: absolute;
	top: 42px;
	left: 10px;
	width: 370px;
	input {
		background: none;
		border: none;
		outline: none;
		font-family: "Algo", "Arial";
		width: 100%;
		font-size: 33px;
		color: #4d3828;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: -2px;
	}
}

/* SKILLS */
.skill-wrapper (@row, @col) {
	position: absolute;
	top: @row * 71px;
	width: 240px;
	& when (@col = 0) {
		left: 95px;
	}
	& when (@col = 1) {
		right: 85px;
		input {
			text-align: right;
		}
	}
}

.skill-font {
	font-family: "Arek", "Arial";
	font-size: 22px;
	color: #1e1a1c;
	letter-spacing: -0.5px;
}

.sheet-skills-texts {
	position: absolute;
	top: 494px;
	width: @sheetWidth;
	input {
		margin-top: 20px;
		background: none;
		border: none;
		outline: none;
		padding: 0;
		width: 100%;
		.skill-font();
	}
	.sheet-skill-blue {
		.skill-wrapper(0, 0);
	}
	.sheet-skill-yellow {
		.skill-wrapper(1, 0);
	}
	.sheet-skill-orange1 {
		.skill-wrapper(2, 0);
	}
	.sheet-skill-orange2 {
		.skill-wrapper(3, 0);
	}
	.sheet-skill-red1 {
		.skill-wrapper(1, 1);
	}
	.sheet-skill-red2 {
		.skill-wrapper(2, 1);
	}
	.sheet-skill-red3 {
		.skill-wrapper(3, 1);
	}
}

.ui-autocomplete {
	padding: 3px;
	width: 300px;
	overflow: auto;
	border: 1px solid #230403;
	max-height: 300px;
	background-color: #d8ccb5;
	border-radius: 4px;
	.ui-menu-item {
		.skill-font();
		cursor: pointer;
		&.ui-state-focus {
			background-color: #a79d8b;
		}
	}

}

.ui-helper-hidden-accessible {
	display: none;
}

.export-btn{
	margin:5px;
}