body,
h1,
h2,
h3,
ul,
li,
dl,
dt,
dd,
img,
div {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.clearfix {
  clear: both;
  height: 1px;
  font-size: 1px;
}
@font-face {
  font-family: "Algo";
  src: url("../fonts/Algo_FY_Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Arek";
  src: url("../fonts/Arek_Italic.otf?796vn8") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.sheet-size {
  width: 700px;
  height: 809px;
}
.character-sheet {
  position: relative;
  width: 700px;
  height: 809px;
}
.sheet-background {
  width: 700px;
  height: 809px;
  position: absolute;
  top: 0;
  left: 0;
  background: url('../images/bg-sheet.png') no-repeat 0 0;
}
.sheet-name-background {
  width: 700px;
  height: 809px;
  position: absolute;
  top: 0;
  left: 0;
  background: url('../images/bg-name-middle.png') no-repeat 0 0;
}
.sheet-skills {
  width: 700px;
  height: 809px;
  position: absolute;
  top: 0;
  left: 0;
  background: url('../images/bg-skills.png') no-repeat 0 0;
}
/* NAME */
.sheet-name-text {
  position: absolute;
  top: 42px;
  left: 10px;
  width: 370px;
}
.sheet-name-text input {
  background: none;
  border: none;
  outline: none;
  font-family: "Algo", "Arial";
  width: 100%;
  font-size: 33px;
  color: #4d3828;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -2px;
}
/* SKILLS */
.skill-font {
  font-family: "Arek", "Arial";
  font-size: 22px;
  color: #1e1a1c;
  letter-spacing: -0.5px;
}
.sheet-skills-texts {
  position: absolute;
  top: 494px;
  width: 700px;
}
.sheet-skills-texts input {
  margin-top: 20px;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  width: 100%;
  font-family: "Arek", "Arial";
  font-size: 22px;
  color: #1e1a1c;
  letter-spacing: -0.5px;
}
.sheet-skills-texts .sheet-skill-blue {
  position: absolute;
  top: 0px;
  width: 240px;
  left: 95px;
}
.sheet-skills-texts .sheet-skill-yellow {
  position: absolute;
  top: 71px;
  width: 240px;
  left: 95px;
}
.sheet-skills-texts .sheet-skill-orange1 {
  position: absolute;
  top: 142px;
  width: 240px;
  left: 95px;
}
.sheet-skills-texts .sheet-skill-orange2 {
  position: absolute;
  top: 213px;
  width: 240px;
  left: 95px;
}
.sheet-skills-texts .sheet-skill-red1 {
  position: absolute;
  top: 71px;
  width: 240px;
  right: 85px;
}
.sheet-skills-texts .sheet-skill-red1 input {
  text-align: right;
}
.sheet-skills-texts .sheet-skill-red2 {
  position: absolute;
  top: 142px;
  width: 240px;
  right: 85px;
}
.sheet-skills-texts .sheet-skill-red2 input {
  text-align: right;
}
.sheet-skills-texts .sheet-skill-red3 {
  position: absolute;
  top: 213px;
  width: 240px;
  right: 85px;
}
.sheet-skills-texts .sheet-skill-red3 input {
  text-align: right;
}
.ui-autocomplete {
  padding: 3px;
  width: 300px;
  overflow: auto;
  border: 1px solid #230403;
  max-height: 300px;
  background-color: #d8ccb5;
  border-radius: 4px;
}
.ui-autocomplete .ui-menu-item {
  font-family: "Arek", "Arial";
  font-size: 22px;
  color: #1e1a1c;
  letter-spacing: -0.5px;
  cursor: pointer;
}
.ui-autocomplete .ui-menu-item.ui-state-focus {
  background-color: #a79d8b;
}
.ui-helper-hidden-accessible {
  display: none;
}
.export-btn {
  margin: 5px;
}
